<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-5">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
              <div class="card-body">
                  <form (ngSubmit)="Login(fLogin)" #fLogin="ngForm" >
                      <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label>
                        <input class="form-control py-4" required [(ngModel)]="user.email" name="email" id="inputEmailAddress" type="email" placeholder="Enter email address" />
                      </div>
                      <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label>
                        <input class="form-control py-4"  required [(ngModel)]="user.password" name="password" id="inputPassword" type="password" placeholder="Enter password" />
                      </div>
                      <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" [(ngModel)]="user.rememberMe" name="remember" id="rememberPasswordCheck" type="checkbox" />
                            <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                      </div>
                      <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button type="submit" class="btn btn-primary" >Login</button>
                      </div>
                  </form>
              </div>
              <div class="card-footer text-center">
                  <div class="small"><a routerLink="/Auth/Register">Need an account? Sign up!</a></div>
              </div>
          </div>
      </div>
  </div>
